*{
    padding: 0;
    background-color: rgb(22, 21, 23);
    margin: 0;
}

body{
    /*Aplicar estilo General*/
    margin: 0;
    padding: 0;
    text-align: center;
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

text {
    font-family: Impact, sans-serif; 
    font-size: 24px;
    fill: #fff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-header ul{
    color: #fff;
}

.elements-container-header{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.items-header{
    cursor: pointer;
    transition: transform 0.5s ease;
    font-size: 25px;
}

.items-header:hover{
    transform: scale(1.2);
}

.buttons-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    user-select: none;
}

.button-rs{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button-rs:hover{
    transform: scale(1.1);
}

main{
    /* Estilo General de Main */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.seccion{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;

}

.seccion.mostrar{
    opacity: 1;
    height: auto;
}

#soluciones{
    display: flex;
    background-image: url(img/pbg.jpg);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    pointer-events: none;
    font-size: 4vw;
}

.titulo-seccion, .subtitulo-seccion, .logo-seccion{
    background-color: transparent;
    user-select: none;
    pointer-events: none;
}

.logo-seccion{
    width: 100px;
}

.titulo-seccion{
    font-size: 25px;
    margin-bottom: 0;
    padding: 0;
}

.subtitulo-seccion{
    margin-bottom: 200px;
    font-size: 45px;
}

#discoverer{
    display: none;
}

#discoverer.mostrar {
    display: flex; /* Mostrar cuando tiene la clase 'mostrar' */
}

#discoverer h1 {
    color: #fff;
    font-size: 100px;
    /* Otros estilos necesarios */
}

#find-us{
    display: none;
}

#find-us.mostrar{
    display: flex;
}

#find-us h1{
    color: #fff;
    font-size: 50px;;
}